audit=true
fund=false
loglevel=warn
strict-ssl=true
force-ssl=true
registry=https://registry.npmjs.org/
save-exact=true
package-lock=true
node-options=--max-old-space-size=4096
strict-peer-deps=false
legacy-peer-deps=true
update-notifier=false
prefer-offline=true